# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
coverage.xml
coverage*.lcov
htmlcov/

# Tooling
.ruff_cache/
.mypy_cache/

# Editors / OS
.idea/
.vscode/
.DS_Store
